<!DOCTYPE html>
<html>
<head>
  <title>Bootp-Camp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </header>

  <section>
    <%= yield %>    
  </section>
  
  <footer>
    <p>feito no boot-camp</p>  
  </footer>

</body>
</html>
